.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.align-center {
  align-items: center;
}

.space-btwn {
  justify-content: space-between;
}

/* Media Queries for phone */
